.side-navbar {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}
.vl {
  width: 10px;
  height: 100%;
}
.content {
  padding-top: 40px;
}
h1 {
  font-weight: bold;
}
input {
  width: 200px;
}
.task-list {
  padding-top: 20px;
}
