<div class="row">
  <div class="side-navbar col-md-3">
    <app-side-navbar></app-side-navbar>
  </div>
  <div class="col-auto">
    <div class="d-flex" style="height: 100%">
      <div class="vr"></div>
    </div>
  </div>
  <div class="col-md-7 content">
    <div class="row">
      <div class="col-sm-3">
        <h1>All Tasks</h1>
      </div>
      <div class="col align-self-end">
        <form class="d-flex">
          <input
            class="form-control"
            type="search"
            placeholder="Search"
            aria-label="Search"
          />
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
      </div>
    </div>
  </div>
</div>
